<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366557837539-v9gb57cfn0r55vrd13u632dpsmvg7u94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366557837539-v9gb57cfn0r55vrd13u632dpsmvg7u94</string>
	<key>API_KEY</key>
	<string>AIzaSyDmlJXblnpCowJ4ZwGdRzKcrF503q-DhQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>366557837539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.awady.DemoFirebase</string>
	<key>PROJECT_ID</key>
	<string>demofirebase-fb393</string>
	<key>STORAGE_BUCKET</key>
	<string>demofirebase-fb393.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366557837539:ios:4fbd415a53a7e4bd2aedd6</string>
	<key>DATABASE_URL</key>
	<string>https://demofirebase-fb393.firebaseio.com</string>
</dict>
</plist>